@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

body {
  background-color: #2d2d2d;
}

#root > div > ul {
  background-color: #212121;
}

.collection {
  border: 1px solid #00796b;
}

.collection .collection-item {
  background-color: #424242;
  border-bottom: 1px solid #00796b;
}

.collection.with-header .collection-header {
  border-bottom: 2px solid #00796b;
}

.modal {
  background-color: #424242;
}
.modal .modal-footer {
  background-color: #424242;
}

select {
  background-color: #616161;
  border: 2px solid #00796b;
  border-radius: 2px;
}

select:active {
  outline: none;
}
